
.product-image {
  width: 200px;
  height: auto;
  display: inline-block;
  float:left; 
  margin: 7px ;
}

.product-price {
 position: top;
 border-width: 4px;
 border-style: solid;
 border-color: red;

 font: normal small-caps 16px/20px;
 color: red;
 display: inline-block;
 padding: 2px 4px;
 
}
.product-size {
	
}

